*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: green;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    max-width: 100px;
}